* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: blueviolet;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 32;
}

header ul {
    margin: 0;
}

header ul li {
    font-size: 20px;
    margin-right: 20px;
}

.headerContainer {
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.userAction {
    list-style-type: none;
}

.brand {
    font-size: 30px;
    font-weight: 900;
}

.routerDiv {
    display: flex;
    align-items: center;
}

.signinContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinContainer form {
    width: 500px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
}

.signinContainer form h1 {
    color: gray;
    margin-bottom: 20px;
}

.signinContainer form input {
    background: ghostwhite;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 12px;
}

.signinContainer .btn-block {
    background: blueviolet;
    color: white;
    width: 100%;
}

.signinContainer .btn-block:hover {
    background: white;
    color: blueviolet;
    border: 1px solid blueviolet;
}

.signinContainer .formChange {
    cursor: pointer;
    color: blueviolet;
    font-weight: 100;
}

.input-alert {
    color: red;
    margin-bottom: 15px;
    font-size: 20px;
}

.userAuthAction {
    display: flex;
}

.sidebar {
    top: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: whitesmoke;
}

.sidebar .nav-link {
    display: flex;
    color: black;
    font-weight: 500;
}

.nav-link.router-link-exact-active {
    color: blueviolet;
}

.ourEditor .ProseMirror {
    border: 1px solid #dee2e6;
    min-height: 250px;
    border-radius: 4px;
    padding: 10px;
}

.ourEditor .btnContainer span {
    background: blueviolet;
    padding: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}

.ourEditor .btnContainer {
    padding: 10px 0px;
    border-top: 1px solid #dee2e6;
    margin-top: 20px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: white !important;
}

.sliderMessage {
    position: relative;
    height: 750px;
    background-size: cover !important;
    width: 100%;
    background-position: bottom center !important;
}

.slideContent {
    position: absolute;
    background: black;
    bottom: 20px;
    width: 50%;
    color: white;
    font-size: 25px;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    font-weight: bold;
    text-align: left;
}

.carouselTop,
.courseTap {
    padding-top: 130px;
}

.courseImg {
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 600px) {
        height: 400px;
    }
}

.courseCategory {
    background: blueviolet;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 25px;
    font-weight: 200;
    border-radius: 0px 0px 20px 0px;
}

.courseContent {
    margin-top: 50px;
}

.courseContent h1 {
    font-size: 60px;
}

.courseRating {
    background: blueviolet;
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: 200;
    border-radius: 20px;
}

.courseDiv {
    padding-bottom: 100px;
}

.courseIC {
    display: flex;
    justify-content: center;
    align-items: center;
}