*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: blueviolet;
    color: white;
    position: fixed;
    width: 100%;
}

header ul{
    margin: 0;
}

header ul li{
    font-size: 20px;
}

.headerContainer{
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
}

a{
    color: white;
    text-decoration: none;
}

.userAction{
    list-style-type: none;
}

.brand{
    font-size: 30px;
    font-weight: 900;
}

.routerDiv{
    display: flex;
    align-items: center;
}

.signinContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}